<h1>管理者用/コマ削除確認画面</h1>
<a href="/user/admin" class="bread">管理者用/トップ</a> ＞＞
<a href="/coma/admin" class="bread">管理者用/コマ表</a> ＞＞
管理者用/コマ削除確認画面

<hr>

<h2><%= @coma.year %>年<%= @coma.mon %>月のコマを削除します。</h2>

<div class="item">
    <a href="/coma/destroy" class="button">削除</a>
</div>
