<h1>トップ</h1>
トップ

<hr>

<div class="main">
    <div class="item">
        <a href="/band" class="button">バンド一覧</a>
    </div>
    <div class="item">
        <a href="/coma" class="button">コマ表</a>
    </div>
    <div class="item">
        <a href="/coma/buhi" class="button">部費</a>
    </div>
</div> 
